<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12592995924-93bvpjbll346oa2kg33kfm574lg7r2q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12592995924-93bvpjbll346oa2kg33kfm574lg7r2q5</string>
	<key>API_KEY</key>
	<string>AIzaSyDhHyNkhVM7ZQb2_0ApcYYT0H-lzv4dT74</string>
	<key>GCM_SENDER_ID</key>
	<string>12592995924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.cargo-dev</string>
	<key>PROJECT_ID</key>
	<string>cargo-dev-84da1</string>
	<key>STORAGE_BUCKET</key>
	<string>cargo-dev-84da1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12592995924:ios:d680c56881fbcc4b9697c1</string>
	<key>DATABASE_URL</key>
	<string>https://cargo-dev-84da1.firebaseio.com</string>
</dict>
</plist>